body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777;
    background: #777;
    width: 960px;
    font-size: 18px;

}
header{
    text-align: center;
    background-color:#ebebeb;
    padding: 25px;
    margin-right: 25px;
    margin-left: 25px;
}
nav{
    text-align: center;
    background-color: #ebebeb;
    padding: 25px;
    margin-top: 10px;
    margin-right: 25px;
    margin-left: 25px;


}